/*startglobal rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-transition: 1s;
}
a {
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style: none;
    margin: opx;
    padding:0px;
}
p{
    direction: rtl;
}
h2{
    direction: rtl;
    font-size: 20px;
}
/*end global rules*/

/* start politic section */
.economyPostsContent{
    display: grid;
    width: 1150px;
    height: 460px;
   
    grid-template-areas:
    'one one one one two two two  five five five  '
    'one one one one two two two five five five '
    'one one one one two two two five five five '
    'one one one one  two two two six six six '
    'one one one one three three three  six six six '
    'one one one one three three three  six six six '
    'one one one one three three three  seven seven seven '
    'one one one one three three three  seven seven seven '
    'one one one one four four four seven seven seven '
    'one one one one four four four eight eight eight '
    'one one one one four four four eight eight eight '
    'one one one one four four four eight eight eight '
    
   ;
    grid-gap: 10px;
}
/* the shared class for all elemnet*/
.economyPostsContent .economyPost{
    background-color: rgb(239 245 245);
    
}

/* start Post1 with pig image and title */
.economyPostsContent .economyPost1{
    grid-area: one;
    
}
.economyPostsContent .economyPost1 a{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
.economyPostsContent .economyPost1 a .economy1ImgContainer{
    
    height: 50%;
    width: 100%;
    
}
.economyPostsContent .economyPost1 a .economy1ImgContainer img{
    height: 100%;
    width: 100%;
 
}
.economyPostsContent .economyPost1 a .economy1TitleContainer{
   display: flex;
   flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: flex-end;
    padding: 20px;
}
.economyPostsContent .economyPost1 a .economy1TitleContainer h2{
    font-size: 22px;
}
.economyPostsContent .economyPost1 a .economy1TitleContainer p{

}
/* start Post1 with pig image and title */

/* start Posts 2,3,4 with images and title but not big */
.economyPostsContent .PostSmallImage a{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}
.economyPostsContent .PostSmallImage a .economy2ImgContainer{
    height: 100%;
    width: 50%;
}
.economyPostsContent .PostSmallImage a .economy2ImgContainer img{
height: 100%;
width: 100%;
}
.economyPostsContent .PostSmallImage a .economy2TitleContainer{
height: 100%;
width: 50%;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
    padding: 0px 10px;
}
.economyPostsContent .PostSmallImage a .economy2TitleContainer h2{
    font-size: 18px;
}
.economyPostsContent .economyPost2{
    grid-area: two;
}
.economyPostsContent .economyPost3{
    grid-area: three;
}
.economyPostsContent .economyPost4{
    grid-area: four;
}
/* start Posts 2,3,4 with images but not big */

/* start Posts 5,6,7, without images */
.economyPostsContent .PostWithoutImage a{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 5px;

}
.economyPostsContent .PostWithoutImage a .economy3TitleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}
.economyPostsContent .PostWithoutImage a .economy3TitleContainer h2{
    font-size: 18px;
}
.economyPostsContent .PostWithoutImage a .economy3TitleContainer i{

}

.economyPostsContent .economyPost5{
    grid-area: five;
}
.economyPostsContent .economyPost6{
    grid-area: six;
}
.economyPostsContent .economyPost7{
    grid-area: seven;
}
.economyPostsContent .economyPost8{
    grid-area: eight;
}
/* end Posts 5,6,7, without images */


/* end politic section */



/*
--------------------
here for links to right css 
.economyPostsContent .economyPost1 a .economy1TitleContainer{
   
     align-items: flex-start;
}
.economyPostsContent .PostSmallImage a .economy2TitleContainer{

align-items: flex-start;
}
*/